section#Associations 
{
    margin: 0%;
    padding: 0%;
    background-color: #dae8d5;
    color:#292f36;
    display: flex;
    
}

section#Associations h2
{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0px;
}

section#Associations h3
{
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5%;
}

section#Associations p
{
    margin-top: 1%;
    text-align: center;
}

.layoutAssoc
{
    display: flex;
    flex-direction: column;
}
.clic {
    margin-top: 20px;
}
.BlockAssoc
{
    width : 95%;
    margin: auto;
    margin-bottom: 15px;

}

.layoutAssoc img
{
    width: 50%;
}

section#Associations div.layoutAssoc div.layoutAllAssoc
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
   /* background-image: url('https://image.freepik.com/photos-gratuite/texture-bois-pour-design-decoration_23-2148283214.jpg') ; */
    background-repeat: repeat-y;
    background-color: white;
    background-size: cover;
    color: #dae8d5;
    box-shadow: 3px 3px 5px rgb(187, 186, 186);
    
}

section#Associations div.layoutAssoc div
{   
    padding: 2%;
    margin: 1%;
}

section#Associations div.layoutAssoc div figure a img
{
    align-self: flex-start;
    flex-direction: unset;
    flex-wrap: nowrap;
}

section#Associations div.layoutAssoc div figure a
{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

section#Associations div.layoutAssoc div figure a div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

section#Associations div.layoutAssoc div:nth-of-type(even) figure a 
{
    flex-direction: row-reverse
}


section#Associations a
{
    text-decoration: none;
    color: #292f36;
    align-items: center;
    text-align: center;
    padding: 1%;
}


section#Associations span
{
    font-weight: bold;
}

@media screen and (min-width: 990px)
{
    .layoutAssoc img
    {
        width: 100%;
    }

    .layoutAssoc
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        padding: 1%;

    }

    section#Associations div.layoutAssoc div.layoutAllAssoc
    {
        height: 450px;
        width: 95vw ;
        margin: 2.5%;
        margin-top: 5px;
    }

    section#Associations div.layoutAssoc div figure
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    section#Associations div.layoutAssoc div figure a 
    {
        display: unset;
    }
}