/** {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: justify;
	font-size: 14pt;
}*/

body {
	background-color: white;
}

h3,h4,h5 {
	font-family: 'Livvic', sans-serif;
	text-align: center;
	margin:2em 0 2em 0;
	font-size: 24px;
}


img {
	width: 100%;
	height: auto;
}


.composter_text{

}
.composter_picture, .good_practice_picture {
	display: flex;
	flex-direction: column;
}

.composter_picture a, .good_practice_picture a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.composter_picture img {
	border-radius: 10px;
}

.dechettery_address {
	display: flex;
	flex-direction: column;
}

.dechettery_ul {
	display: flex;
	flex-direction:column;
	align-items: center;
}

.dechettery_ul li, .vegetri_address li{
	border:1px solid black;
	margin: 0 0 10px 20px;
	width: 90%;
	list-style: none;
	padding: 0.9em;
}

details p {
	text-align: center;
}
table, tr,th,td{
	border:1px solid black;
	border-collapse: collapse;
	text-align: center;
	font-size: 14px;
	padding: 0.1rem;
}
caption {
	caption-side: bottom;
	text-align: center;
	padding-top: 0.5em;
	font-style: italic;
}
.dechettery_table,.vegetri_table{
	display: flex;
	flex-direction:column;
	align-items: center;
}

.no-vsisible{
	visibility: hidden;
}
@media screen and (min-width: 600px) {
	img{
		width: 70%;
	}
}
@media screen and (min-width: 961px) {
	img{
		width: 25%;
	}
	.dechettery{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 20px 0 20px 0;
		
	}
	.dechettery_address, .vegetri_border{
		border:1px dotted #000;
		width: 47%;
		border-radius: 2%;
		padding: 0 3% 3% 3%;
	}
	.vegetri_clock{
		margin-top: 250px;
	}
	.dechettery_address{
		background-color:#7897ff;
	}
	.vegetri_border{
		background-color:#81d56d;
	}
	table {
		width: 100%;
	}
}

