* {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Livvic', sans-serif;
}
p{
    font-size: 16pt;
    line-height: 1.5rem;
}

/*h2 {
    font-size: 2.5em;
    text-align: center;
    padding: 0.5em;
}
h3 {
    font-size: 1.2em;
}*/