/*.banniere {
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.menu{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 0 30px 0 0;
}



.nav {
  border-bottom: 1px solid #eaeaeb;
  text-align: right;
  height: 70px;
  line-height:70px;
  background: #292f36;
}

.logo {
width:65px;
}
  


.menu a {
  clear: right;
  text-decoration: none;
  color: #dae8d5;
  margin: 0 10px 0 50px;
  

}
.menu a:hover {
  color: #81d56d;

}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
#toggle {
display: none;
}

@media only screen and (max-width:991px){
*/  
  /*header {
    border:3px solid red;
  }

  header nav {
    border:3px solid blue;
  }
  .logo{
    float: left;
    
  }
  label {
      display: block;
      
      cursor: pointer;
      color : #dae8d5;
      
      
  }
  .menu {
    text-align: center;
    width: 100%;
    border:3px solid pink;
    
    
  } 


.menu li {
  display: block;
  border-bottom: 1px solid #eaeaeb;
  margin: 0 10px 0 50px;
  color:#292f36;

}
.menu li:hover {
  color: #81d56d;

}

#toggle:checked + .menu {
  display: block;

}

}
*/

.header_label {
  display:none;
}
.header_input {
  display: none;
}
header {
  display: fixed;
  background-color: #dcdcdc;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  width:5%;
  }
  
header nav {
  background: #292f36;
}

nav ul {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin-left:60px;
  padding-top: 0;
  height: 41px;
  width: 95%;
}

li {
  margin: 0 10px;
  padding: 10px;
  list-style: none;
}
header a {
  color: #fff;
  text-decoration: none;
}
.banniere {
  width: 100%;
  height: auto;
}